<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Latihan Vue</title>
    <style>
        .active {
            background: salmon;
            padding: 5px;
            border: 0px;
        }
    </style>
</head>
<body>
    <div id="app">
        <h1 v-once>{{ name.toUpperCase() }}</h1>
        <h1 v-text="message"></h1>
        <h1 v-html="link"></h1>
        <h1>{{ getname() }}</h1>
        <input type="text" v-model="name">
        <div>
            <input type="checkbox" value="vue" v-model="kelas">Vue
            <input type="checkbox" value="react" v-model="kelas">React
            <input type="checkbox" value="angular" v-model="kelas">Angular
        </div>
        <h3>Daftar Kelas {{ kelas.length }}</h3>
        <template v-if="kelas.length > 1">
            <ul>
                <li v-for="(k,index) of kelas">{{ index+1 }} - {{ k }}</li>
            </ul>
        </template>
        <ul v-show="kelas.length > 1">
            <li v-for="(k,index) of kelas">{{ index+1 }} - {{ k }}</li>
        </ul>
        <ul v-if="kelas.length > 1">
            <li v-for="(k,index) of kelas">{{ index+1 }} - {{ k }}</li>
        </ul>
        <li v-else>Kelas Belum Tersedia</li>
        <h3>Perulangan Sampe 5</h3>
        <ul>
            <li v-for="x in 5">{{ x }}</li>
        </ul>
        <h3>Mencari Bilangan Genap Dari Data Numbers</h3>
        <ul>
            <li v-for="x in cariBilanganGenap(numbers)">{{ x }}</li>
        </ul>
        <h1 v-once>{{ ubahNama("Harun") }}</h1>
        <h1 v-once>{{ totalBayar }}</h1>
        <h1>{{ bilangan }}</h1>
        <p>Bilangan ini adalah bilangan {{ cariBilangan }}</p>
        <img v-bind:src="gambar" width="500">
        <img :src="gambar" width="500">
        <button v-on:click="tekanBilangan">Tekan</button>
        <br>
        <button v-bind:class="{active:menu == 'home'}" v-on:click="ubahMenu('home')">Home</button>
        <button v-bind:class="{active:menu == 'about'}" v-on:click="ubahMenu('about')">About</button>
        <button v-bind:class="{active:menu == 'blog'}" v-on:click="ubahMenu('blog')">Blog</button>
        <br>
    </div>
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<script>
    const member = {
        name: 'Doremi Fasolasido',
        message: "Hello Word",
        qty:1,
        bilangan : 1,
        link:'<a href="index.html">Kelas Intelligo</a>',
        gambar:'img/vongola.jpeg',
        menu:'home',
        kelas:[],
        numbers : [1,2,3,4,5]
    };

    const vm = new Vue({
        el:'#app',
        data: member,
        methods: {
            getname: function(){
                return "Hello, "+this.name;
            },
            ubahNama: function(namaBaru){
                this.name = namaBaru;
                return this.getname();
            },
            tekanBilangan: function(){
                this.bilangan++;
                this.cariBilangan === "Genap" ? this.gambar ="img/kyoya.jpeg" : this.gambar="img/vongola.jpeg"
            },
            ubahMenu: function(menu){
                this.menu = menu
            },
            cariBilanganGenap:(numbers) => {
                return numbers.filter(angka => {
                    return angka % 2 == 0;
                });
            }
        },
        computed:{
            totalBayar: function(){
                return this.qty * 10000
            },
            cariBilangan:function(){
                return this.bilangan % 2 === 0 ? "Genap" : "Ganjil";
            }
        }
    });
</script>
</body>
</html>